# === Core Dependencies ===
numpy==1.24.4           # numerical computing
pandas==2.2.3           # data manipulation and DataFrames
scikit-learn==1.6.1     # ML models, preprocessing, evaluation
scipy==1.15.2           # statistical functions (e.g., sem)

# === Modeling Libraries ===
lightgbm==4.3.0         # gradient boosting model (fast, efficient)
catboost==1.2.3         # gradient boosting with categorical support
xgboost==2.0.3          # gradient boosting framework
joblib==1.4.2           # file saving/loading

# === Pipeline ===
imblearn==0.11.0             # for Pipeline from imbalanced-learn

# === Visualization ===
matplotlib==3.10.1           # plotting
tqdm==4.67.1                 # progress bar
